.App {
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.light-mode{
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease-out;
}

.light-mode .card {
    border:  solid #e3e4e6;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s ease-out , border 0.3s ease-out;
}
.Mode-button{
    max-width: 50px;
    max-height: 200px;
    margin-top: 25px;
    margin-left: 15px;
}
.toggleButton{
    margin-bottom: 15px;
}
.dark-mode{
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1a1919;
    color: #999;
    transition: background-color 0.3s ease-out;

}
.dark-mode .card{
    border:  solid #30302f;
    border-radius: 20px;
    padding: 10px;
    color : #bdbdbd;
    background-color: #1a1919;
    transition: background-color 0.3s ease-out , border 0.3s ease-out;

}

.App-header {
    box-shadow: 0 1px 5px #4a4a4a;
    max-height: 3.5em;
}

.App-page-wrapper {
    overflow: auto;
    scroll-behavior: smooth;
}

.Container{
    width:70%;
    margin : 0 auto;
    margin-top: 50px;
}
.movie_poster{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.movie_poster .card {
    margin: 10px 5px;
    min-width: 200px;
    height: 550px;
    width:250px;
    text-align: center;
  }

  .movie_poster .card:hover{
    box-shadow:  4px 3px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 19px -4px rgba(0,0,0,0.75);
  }